* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: arial;
  box-sizing: border-box;
}


@import "nav";
@import "header";
@import "social";
@import "header2";
@import "main";
@import "main2";
@import "main3";
@import "main4";
@import "main5";
@import "footer";
@import "media";





